{
    "rules": {
        "strict": [2, "global"],
        "no-console": 0,
        "no-extra-parens": 0,
        "quote-props": [2, "as-needed", {"keywords": true}],
        "no-underscore-dangle": 0,
        "valid-jsdoc": [0, {
            "requireReturn": false,
            "requireReturnDescription": false
        }],
        "default-case": 2,
        "guard-for-in": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-eq-null": 2,
        "no-floating-decimal": 2,
        "no-param-reassign": 2,
        "no-self-compare": 2,
        "no-void": 2,
        "radix": 2,
        "no-undefined": 2,
        "no-implicit-coercion": 2,
        "no-useless-call": 2,
        "arrow-spacing": 2,
        "camelcase": 0,
        "new-cap": 0,
        "quotes": [2, "single", "avoid-escape"],
        "brace-style": [1, "1tbs"],
        "comma-style": [1, "last"],
        "max-nested-callbacks": [2, 4],
        "no-lonely-if": 1,
        "no-multiple-empty-lines": [2, {"max": 1}],
        "no-nested-ternary": 2,
        "space-after-keywords": [1, "always"],
        "space-before-blocks": [1, "always"],
        "object-curly-spacing": [1,"never"],
        "array-bracket-spacing": [1,"never"],
        "computed-property-spacing": [1,"never"],
        "space-in-parens": [1, "never"],
        "space-unary-ops": [1, {"words": true}],
        "spaced-comment": [1, "always"],
        "no-underscore-dangle":0,
        "semi": [2, "always"],
        "linebreak-style": [2, "unix"],
        "max-len": [1, 120, 4],
    },
    "env": {
        "browser": true,
    }
}
